.blogs-container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    margin: auto;
    text-align: center;
    background-color: $lightgray;
}
.blogs{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    box-sizing: border-box;
}